body{
  background-image: url(./img/background.jpg);
}
h1{
  text-align: center;
  color: white;

}
.content{
  margin: 1em;
  padding: 1em;
  background-color: rgba(255,255,255,0.2);

}
.d-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  background-color: rgba(255,255,255,0.5);
  padding: 1.5em;
  margin: 0.5em;
}
